@import url(//db.onlinewebfonts.com/c/927699cb752d1b76650593a4ad6710b8?family=Basic+Sans+Regular);

* {
  margin: 0;
  font-family: "Basic Sans Regular";
  color: #333;
}

.nav {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.nav .links {
  margin-left: auto;
}
.nav a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.nav a:hover {
  color: orange;
}
.nav h1 {
  margin: 0 0 0.5em;
  text-transform: uppercase;
  font-weight: 900;
  font-style: italic;
  font-size: 50px;
  color: orange;
  font-style: italic;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
/* .home {
  display: grid;
  grid-template-columns: 1fr;
} */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 1);
}
.blog-preview h2 {
  font-size: 20px;
  color: orange;
  margin-bottom: 8px;
}
.blog-preview a {
  text-decoration: none;
}
.blog-details h2 {
  font-size: 20px;
  color: orange;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
/* .blog-details button {
  background: orange;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
} */
