@import url(//db.onlinewebfonts.com/c/927699cb752d1b76650593a4ad6710b8?family=Basic+Sans+Regular);

* {
  margin: 0;
  font-family: "Basic Sans Regular";
  color: #333;
}

.nav {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.nav .links {
  margin-left: auto;
}
.nav a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.nav a:hover {
  color: orange;
}
.nav h1 {
  margin: 0 0 0.5em;
  text-transform: uppercase;
  font-weight: 900;
  font-style: italic;
  font-size: 50px;
  color: orange;
  font-style: italic;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
